In [7]:
!rm bellyButtons.sqlite otuData.csv
!rm bellyButtons.sqlite metaDataData.csv
!rm bellyButtons.sqlite washData.csv
!rm bellyButtons.sqlite sampleData.csv

'rm' is not recognized as an internal or external command,
operable program or batch file.
'rm' is not recognized as an internal or external command,
operable program or batch file.

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df01 = pd.read_excel("db/Belly_Button_Data_Batch1.xlsx", sheetname=0, index_col=0)
df01.head()

,Lowest Taxonomic Level of Bacteria/Archaea Found,940,941,943,944,945,946,947,948,949,...,1562,1563,1564,1572,1573,1574,1576,1577,1581,1601
OTU ID #,,,,,,,,,,,,,,,,,,,,,
1,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df01.isnull().values.any()

False

In [4]:
OTU = "db/otuData.csv"
df01.to_csv(OTU, index=False)

## CLEANING SPREADSHEET 1, SHEET 2

In [5]:
df02 = pd.read_excel("db/Belly_Button_Data_Batch1.xlsx", sheetname=1, index_col=0)
df02.head()

,940,941,943,944,945,946,947,948,949,950,...,1562,1563,1564,1572,1573,1574,1576,1577,1581,1601
Data,,,,,,,,,,,,,,,,,,,,,
Collection event,BellyButtonsScienceOnline,...,BellyButtonsScienceOnline,BellyButtonsScienceOnline,BellyButtonsScienceOnline,BellyButtonsScienceOnline,BellyButtonsScienceOnline,BellyButtonsScienceOnline,BellyButtonsScienceOnline,BellyButtonsScienceOnline,...,BellyButtonsWildLives,BellyButtonsWildLives,BellyButtonsWildLives,BellyButtonsWildLives,BellyButtonsWildLives,BellyButtonsWildLives,BellyButtonsWildLives,BellyButtonsWildLives,BellyButtonsWildLives,BellyButtonsWildLives
Ethnicity,Caucasian,Caucasian/Midleastern,Caucasian,European,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,...,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Asian (American),Caucasian
Gender (male/female),F,F,F,M,F,F,M,M,F,M,...,M,F,F,F,M,M,F,M,F,F
Age (in years),24,34,49,44,48,42,49,20,51,51,...,39,31,36,33,53,30,33,26,22,22
Washing Frequency (belly button scrubs per week),2,1,1,1,1,3,6,NaN,3,5,...,0,0,5,0,0,7,0,0,2,2

In [6]:
metaData = "db/metaDataData.csv"
df02.to_csv(metaData, index=False)

## CLEANING SPREADSHEET 2, SHEET1

In [9]:
df03 = pd.read_excel("db/Belly_Button_Data_Batch2.xlsx", sheetname=0)
df03.head()

,Kingdom/Domain,Phylum,Class,Order,Family,Genus,Family_Genus,1153,1161,1169,...,YWL1043,CALS1006,CALS1014,CALS1023,YWL1018,YWL1085,YWL1209,YWL1103,YWL1076,YWL1197
0,Unclassified,Other,Other,Other,Other,Other,NaN,0,0,0,...,0,0,0.002,0,0,0,0,0.005,0,0
1,k__Archaea,p__Crenarchaeota,c__Thaumarchaeota,o__Cenarchaeales,f__Cenarchaeaceae,g__,f__Cenarchaeaceae g__,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,k__Archaea,p__Crenarchaeota,c__Thaumarchaeota,o__Nitrososphaerales,f__Nitrososphaeraceae,g__Candidatus Nitrososphaera,f__Nitrososphaeraceae g__Candidatus Nitrososph...,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,k__Archaea,p__Euryarchaeota,c__Methanobacteria,o__Methanobacteriales,f__Methanobacteriaceae,g__Methanobacterium,f__Methanobacteriaceae g__Methanobacterium,0,0,0,...,0,0,0,0,0,0,0,0.002,0,0
4,k__Archaea,p__Euryarchaeota,c__Methanobacteria,o__Methanobacteriales,f__Methanobacteriaceae,g__Methanobrevibacter,f__Methanobacteriaceae g__Methanobrevibacter,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
samples = "db/sampleData.csv"
df03.to_csv(samples, index=False)

## CLEANING SPREADSHEET 2, SHEET 2

In [12]:
df04 = pd.read_excel("db/Belly_Button_Data_Batch2.xlsx", sheetname=1)
df04.head()

,ID,Ethnicity_Catagory,Ethnicity_Quest,Gender,Age,Age_Range,Wash_Freq of BB (# times per week),Wash_Range,Innie_or_outie,Country til age 12,ZIP code til age 12,Country ages 13-19,Zipcode ages 13-19,Current ZIPcode,Current City,Current State,Reads
0,1153,non-Hispanic White,Caucasian,Female,18,8 to 18,Unknown,Unknown,Innie,Unknown,Unknown,Unknown,Unknown,Unknown,Raleigh,NC,1000
1,1161,non-Hispanic White,Caucasian,Male,28,19 to 35,Unknown,Unknown,Innie,Unknown,Unknown,Unknown,Unknown,Unknown,Raleigh,NC,1000
2,1169,Indian,Indian,Male,7,0 to 7,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,FairFax,VA,1000
3,979,Unknown,Unknown,Female,35,19 to 35,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Durham,NC,1000
4,1113,non-Hispanic Black,African American,Female,8,8 to 18,Unknown,Unknown,Innie,Unknown,Unknown,Unknown,Unknown,Unknown,Conway,NC,1000

In [13]:
washes = "db/washData.csv"
df04.to_csv(washes, index=False)

# MODEL SQL TABLES

In [14]:
import json
from flask import (
    Flask,
    render_template,
    jsonify,
    request)

In [20]:
import sqlalchemy
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import create_engine, MetaData, inspect
# from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [21]:
engine = create_engine("sqlite:///db/belly_button_biodiversity.sqlite")
Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(engine)

In [24]:
Base.classes.keys()

['otu', 'samples', 'samples_metadata']

In [23]:
OTU = Base.classes.otu
Samples = Base.classes.samples
Samples_metadata = Base.classes.samples_metadata

In [40]:
# app = Flask(__name__)

In [41]:
# engine = create_engine("sqlite:///bellyButtons.sqlite")
# inspector = inspect(engine)
# db = SQLAlchemy(app)

C:\Users\ckent\Anaconda3\envs\PythonData\lib\site-packages\flask_sqlalchemy\__init__.py:774: UserWarning: Neither SQLALCHEMY_DATABASE_URI nor SQLALCHEMY_BINDS is set. Defaulting SQLALCHEMY_DATABASE_URI to "sqlite:///:memory:".
  'Neither SQLALCHEMY_DATABASE_URI nor SQLALCHEMY_BINDS is set. '
C:\Users\ckent\Anaconda3\envs\PythonData\lib\site-packages\flask_sqlalchemy\__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [42]:
# Base = declarative_base()
Base = automap_base()

In [45]:
otu_sql = Base.classes.[otu_description]

SyntaxError: invalid syntax (<ipython-input-45-8f7f7f924d51>, line 1)

In [20]:
Base.prepare(engine, reflect=True)

In [21]:
Base.classes.keys()

[]